#side-panel {
    display: none;
    width: 30%;
    color: var(--accent-gray);
    padding: 0 1rem;
    overflow-y: scroll;
    resize: horizontal;
}

#legend-list {
    position: relative;
    list-style: none;
    font-size: 20px;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    .legend-list-item {
        width: 90%;
        padding: 10px;
        text-align: left;

        &:hover {
            background-color: var(--toolbar-hover);
            cursor: grab;
        }
    }

    .legend-list-item:not(:last-child) {
        border-bottom: 0.5px dashed white;
    }
}