// TO COMPILE
// npm run sass

@use 'saveButton';
@use 'exitButton';
@use 'objectionSwitch';
@use 'toolbar';
@use 'claim';
@use 'sidePanel';
@use 'legendInfo';
@use 'dropdown';

:root {
  font-size: 16px;
  --transition-speed: 200ms;
  /* temp colors */
  --accent-pink: #ff6b6b;
  --accent-red: #ff206e;
  --accent-orange: #f49e4c;
  --accent-yellow: #f5ee9e;
  --accent-green: #61e786;
  --accent-blue: #3b8ea5;
  --accent-violet: #cfb3cd;
  --accent-gray: #eef0f2;

  --bg: #222222;
  --edit-bg: #555555;
  --toolbar-bg: #363434;
  --toolbar-hover: #5e5a5a;
  --text-black: #ffffff;
}

body,
html {
  /* font-family: monospace; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

header i {
  color: var(--accent-gray);
}

button {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

#paper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#minimap,
#minimap-canvas {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#minimap {
  border-top: 1px solid white;
  border-right: 1px solid white;
}

#main-panel {
  height: calc(100vh - 3rem) !important;
  width: 100% !important;
  margin-top: 3rem;
  display: flex;
  gap: 0;
  background-color: #444422;

}

#main-panel div{
 margin: 0;
}

#side-panel{
  background-color: var(--bg);
}

#menu-container{
 margin-top: 3rem;
}

#main {
  position: relative;
}

.joint-paper-grid {
  background-color: var(--bg);
}

#wrapper {
  width: inherit;
  height: inherit;
  overflow:hidden;
  position: relative;
}

#edit-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: var(--bg);
  transition: display var(--transition-speed);
  display: none;
}

#edit-form {
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
}

.unusable {
  position:fixed !important;
  left: -99999px !important;
}

.hidden {
  display: none !important;
}

.menu-text {
  font-size: 20px;
  color: var(--accent-gray);
}

.model-text-rect {
  height: 4rem;
  min-height: 1.5rem;
  max-height: 9rem;
  resize: vertical;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: var(--toolbar-bg);
  color: var(--accent-gray);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#model-text-container {
  display: flex;
  flex-direction: column;
}
.edit-number-form {
  margin: 0 1rem;
  height: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  resize: vertical;
  width: 4em;

  border: none;
  background-color: var(--toolbar-bg);
  color: var(--accent-gray);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ui-dialog {
  overflow-y: scroll;
}

.ui-dialog.error {
  background-color: #ffdddd !important;
}

.ui-dialog.error .ui-dialog-titlebar {
  background-color: #ffaaaa !important;
}

.ui-dialog.edit {
  background-color: var(--edit-bg);
}

.ui-dialog.edit .ui-dialog-titlebar {
  background-color: var(--bg);
  color: var(--text-black);
}

.edit-item {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

/* ------- Buttons -------- */

.menu-button {
  /* height:5rem;
    width:5rem; */
  text-align: center;
  margin: 0 1rem;

  /* box-shadow: 7px, 6px, 28px, 1px rgba(0,0,0,0.24); */
  /* display: none */
}

@media screen and (max-width: 28rem) {
  .toolbar-item:not(:first-child) {
    display: none;
  }
  .toolbar-item:last-child {
    display: initial;
  }
}
