// TO COMPILE
// npm run sass

@use 'saveButton';
@use 'exitButton';
@use 'objectionSwitch';
@use 'toolbar';
@use 'claim';
@use 'sidePanel';
@use 'legendInfo';
@use 'dropdown';

:root {
  font-size: 16px;
  --transition-speed: 200ms;
  /* temp colors */
  --accent-pink: #ff6b6b;
  --accent-red: #ff206e;
  --accent-orange: #f49e4c;
  --accent-yellow: #f5ee9e;
  --accent-green: #61e786;
  --accent-blue: #3b8ea5;
  --accent-violet: #cfb3cd;
  --accent-gray: #eef0f2;

  --bg: #222222;
  --toolbar-bg: #363434;
  --toolbar-hover: #5e5a5a;
}

body,
html {
  /* font-family: monospace; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

header i {
  color: var(--accent-gray);
}

button {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

/* !important to override default styling */
#myholder {
  // height: calc(100vh - 3rem) !important;
  // width: 100vw !important;
  //height: 100% !important;
  //width: 100% !important;
  // margin-top: 3rem;
}

#paper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#right-border-trigger {
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  width: 40px;
  background-color: #ffcc0099;
}

#bottom-border-trigger {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #9d00ff99;
}

#minimap-holder {
  position: absolute;
  left: 0;
  bottom: 0px;
}

#main-panel {
  height: calc(100vh - 3rem) !important;
  width: 100% !important;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

#main {
  position: relative;
}

.joint-paper-grid {
  background-color: var(--bg);
}

#wrapper {
  width: inherit;
  height: inherit;
}

#edit-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  // margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: var(--bg);
  transition: display var(--transition-speed);
  display: none;
}

#edit-form {
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
}

.menu-text {
  margin: 1rem;
  font-size: 24px;
  color: var(--accent-gray);
}

.edit-top {
  display: flex;
  align-items: center;
}

.edit-bottom {
  display: flex;
  align-items: center;
}

.model-text-rect {
  margin: 0 1rem;
  height: 9rem;
  min-height: 1.5rem;
  max-height: 21rem;
  resize: vertical;

  border: none;
  background-color: var(--toolbar-bg);
  color: var(--accent-gray);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.edit-number-form {
  margin: 0 1rem;
  height: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  resize: vertical;

  border: none;
  background-color: var(--toolbar-bg);
  color: var(--accent-gray);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ui-dialog {
  overflow-y: scroll;
  background-color: #ffdddd !important;
}

.ui-dialog-titlebar {
  background-color: #ffaaaa !important;
}

/* ------- Buttons -------- */

.menu-button {
  /* height:5rem;
    width:5rem; */
  text-align: center;
  margin: 0 1rem;

  /* box-shadow: 7px, 6px, 28px, 1px rgba(0,0,0,0.24); */
  /* display: none */
}

@media screen and (max-width: 28rem) {
  .toolbar-item:not(:first-child) {
    display: none;
  }
  .toolbar-item:last-child {
    display: initial;
  }
}
